body {
  overflow-x: hidden;
}

.cover {
  margin-top: -450px;
}

.coverphoto {
  width: 98.6%;
  z-index: -10;
  position: fixed;
  top: 10;
  left: 15;
}

.rp-logo {
  width: 10%;
  z-index: -5;
  position: fixed;
  top: 90px;
  left: 50px;
}

.footer {
  background-image: url('images/bakgrund.jpg');
}

.footer p {
  font-size: 1.5em;
}

.footer-snake {
  width: 100%;
}

.footer-icon {
  width: 6%;
  margin: 10px;
}

.navbar-icon {
  width: 30px;
  margin: 5px;
}

.icon:hover {
  fill: #EA553B;
}

.news {
  background-image: url('images/bakgrund mörk.png');
  background-repeat: repeat;
}

.habitats {
  width: 100%;
}